<ion-view title="Fillet list">
  <ion-content  class="has-header">

<div class="list">

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Fish name" ng-model="input.searchText" />
    </label>
    <button ng-if="input.searchText.length!==0" ng-click="clear()" class="button button-small">
      Clear
    </button>
  </div>


  <div ng-repeat="fish in fillets | filter:{name:input.searchText} |  orderBy: 'name' ">
      <a  class="item item-thumbnail-left" ui-sref="fishinfo({id : fish.id})">
        <img ng-src="{{fish.image1}}">
        <h2>{{fish.name}}</h2>
        <p>{{fish.latinname}}</p>
      </a>

  </div>



</div>


  </ion-content>





</ion-view>
