<ion-view title="Fillet finder" id="page2">
  <ion-content padding="true" class="has-header">
<h1>Fish list</h1>
<div class="list">

  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Fish name" ng-model="input.searchText" />
    </label>
    <button ng-if="input.searchText.length!==0" ng-click="clear()" class="button button-small">
      Clear
    </button>
  </div>


  <div ng-repeat="fish in fillets | filter:{name:input.searchText}">
      <a  class="item item-thumbnail-left" href="#/fishinfo:">
        <img ng-src="{{fish.image1}}">
        <h2>{{fish.name}}</h2>
        <p>{{fish.latinname}}</p>
      </a>

  </div>



</div>


  </ion-content>





</ion-view>
