<ion-view title="Fillet finder" id="page2">
  <ion-content padding="true" class="has-header">
<h1>Fish list</h1>
<div class="list">
  <div class="list">

      <a class="item item-thumbnail-left" href="#/fishinfo">
        <img src="cover.jpg">
        <h2>Fish</h2>
        <p>Nine Inch Nails</p>
      </a>


      <a class="item item-thumbnail-left" href="#/fishinfo">
        <img src="cover.jpg">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </a>


      <a class="item item-thumbnail-left" href="#/fishinfo">
        <img src="cover.jpg">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </a>

      <a class="item item-thumbnail-left" href="#/fishinfo">
        <img src="cover.jpg">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </a>



  </div>



</div>


  </ion-content>





</ion-view>
