<ion-view title="Color" class="filterPage">
    <ion-content class="has-header">
        <teaser params="params"></teaser>
        <div class="item item-divider">Filter by</div>
        <ion-list>
            <ion-item class="item-thumbnail-left" ng-class="{disable:!active('color', 'white')}" ng-click="next('color', 'white')">
                <img src="img/color/white.png">
                <h2>White</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" ng-class="{disable:!active('color', 'grey')}" ng-click="next('color', 'grey')">
                <img src="img/color/grey.png">
                <h2>Grey</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" ng-class="{disable:!active('color', 'yellow')}" ng-click="next('color', 'yellow')">
                <img src="img/color/yellow.png">
                <h2>Yellow</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" ng-class="{disable:!active('color', 'whitePink')}" ng-click="next('color', 'whitePink')">
                <img src="img/color/whitePink.png">
                <h2>White pink</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" ng-class="{disable:!active('color', 'pink')}" ng-click="next('color', 'pink')">
                <img src="img/color/pink.png">
                <h2>Pink</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" ng-class="{disable:!active('color', 'red')}" ng-click="next('color', 'red')">
                <img src="img/color/red.png">
                <h2>Red</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" ng-class="{disable:!active('color', 'darkRed')}" ng-click="next('color', 'darkRed')">
                <img src="img/color/darkRed.png">
                <h2>Dark Red</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" ng-click="next()">
                <i class="icon ion-help"></i>
                <h2>Skip</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>