<ion-view title="Color">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left" ng-click="next('color', 'white')">
                <img src="img/skin/white.png">
                <h2>White</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" ng-click="next('color', 'gray')">
                <img src="img/skin/gray.png">
                <h2>Gray</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" ng-click="next('color', 'yellow')">
                <img src="img/skin/yellow.png">
                <h2>Yellow</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" ng-click="next('color', 'whitePink')">
                <img src="img/skin/whitePink.png">
                <h2>White pink</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" ng-click="next('color', 'Pink')">
                <img src="img/skin/red.png">
                <h2>Pink</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" ng-click="next('color', 'red')">
                <img src="img/skin/red.png">
                <h2>Red</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" ng-click="next('color', 'darkRed')">
                <img src="img/skin/darkRed.png">
                <h2>Dark Red</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" ng-click="next()">
                <i class="icon ion-help"></i>
                <h2>Skip</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>