<ion-view title="Fillet finder" id="page1">
    <ion-content padding="true" class="has-header">


    <div class="list card">

      <div class="item item-avatar">

        <h2>{{info.name}}</h2>
        <p>{{info.latinname}}</p>
      </div>
      <div class="item item-body">
        <img  ng-src="{{info.image1}}" width="150px"  >
        <img  ng-src="{{info.image2}}" width="150px"  >
        <p>
          Location : {{info.location}}
        </p>

      </div>

    </div>


    </ion-content>




</ion-view>
