<ion-view title="{{info.name}}">
  <div class="bar bar-subheader">
  <h2 class="title">{{info.latinname}}</h2>
</div>
    <ion-content padding="true" class="has-header">


    <div class="list card">



      <div class="item item-body">



        <p>
          <img  ng-src="{{info.image1}}" class="full-image"  >
        </p>
        <p>
        <img  ng-src="{{info.image2}}" class="full-image"  >
        </p>

        <div class="row">
          <div class="col"><b>Location</b></div>
        </div>
        <div class="row">
          <div class="col">{{info.location}}</div>
        </div>

        <div class="row">
          <div class="col"><b>Consumption recommendation</b></div>
        </div>

        <div class="row">
          <div class="col"><img  ng-src="{{consumptionRecommendation(info)}}" width="70px" /></div>
        </div>

        <div class="row">
          <div class="col"><b>Iucn Category</b></div>
        </div>

        <div class="row">
          <div class="col"><img  ng-src="{{iucnCategory(info)}}" class="full-image" /></div>
        </div>

        <div class="row" >
          <div class="col">{{info.iucnCategory}}</div>
        </div>

        <div class="row">
          <div class="col"><b>Consumption size recommedation</b></div>
        </div>

        <div class="row">
          <div class="col">{{info.consumptionSizeRecommended}}</div>
        </div>

        <div class="row">
          <div class="col"><b>Segment bending</b></div>
        </div>

        <div class="row">
          <div class="col">{{info.segmentbending}}</div>
        </div>

        <div class="row">
          <div class="col"><b>Segment width</b></div>
        </div>

        <div class="row">
          <div class="col">{{info.segmentwidth}}</div>
        </div>

      </div>



    </div>

    </ion-content>




</ion-view>
