<ion-view title="Freshness">
    <ion-content class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left" ng-click="next('freshness', true)">
                <img src="img/freshness/fresh.png">
                <h2>Fresh</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" ng-click="next('freshness', false)">
                <img src="img/freshness/frozen.png">
                <h2>Frozen</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" ng-click="next()">
                <i class="icon ion-help"></i>
                <h2>Skip</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>