<ion-view title="Choose country">
    <ion-content class="has-header">
        <teaser params="params"></teaser>
        <div class="item item-divider">Filter by</div>
        <ion-list>
            <ion-item class="item-thumbnail-left" ng-class="{disable:!active('location', 'northAmerica')}" ng-click="next('location', 'northAmerica')">
                <img src="img/location/northAmerica.png">
                <h2>North America</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" ng-class="{disable:!active('location', 'centralAmerica')}" ng-click="next('location', 'centralAmerica')">
                <img src="img/location/centralAmerica.png">
                <h2>Central America</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" ng-class="{disable:!active('location', 'southAmerica')}" ng-click="next('location', 'southAmerica')">
                <img src="img/location/southAmerica.png">
                <h2>South America</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" ng-click="next()">
                <i class="icon ion-help"></i>
                <h2>Skip</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>