<ion-view title="Skin">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left" ng-click="next('skin', true)">
                <img src="img/skin/.png">
                <h2>With skin</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" ng-click="next('skin', false)">
                <img src="img/skin/.png">
                <h2>Without skin</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" ng-click="next()">
                <i class="icon ion-help"></i>
                <h2>Skip</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>