<ion-view title="Choose country" class="filterPage">
    <ion-content class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left" ng-click="next('thickness', 'thick')">
                <img src="img/location/thick.png">
                <h2>Thick</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" ng-click="next('thickness', 'thin')">
                <img src="img/location/thin.png">
                <h2>Thin</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" ng-click="next()">
                <i class="icon ion-help"></i>
                <h2>Skip</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>